.header {
  padding: 12px 15px 12px 35px;
  display: flex;
}

.header__logo {
  opacity: 0.5;
  transform: scale(0.2) translate(-120px, -45px);
}

.header__dish {
  position: absolute;
  margin: 0;
}

.header__logo:hover {
  opacity: 0.8;
  dish {
    @extend %move;
  }
}

.header__text {
  font-size: 1.8rem;
  margin: 0;
  color: rgba(255, 255, 255, 0.3);
}
