.header {
  padding: 12px 15px 0 35px;
  display: flex;
}

.header__logo {
  opacity: 0.5;
  transform: scale(0.2) translate(-120px, -55px);
}

.header__dish {
  position: absolute;
  margin: 0;
}

.header__logo:hover {
  opacity: 0.8;
  dish {
    @extend %move;
  }
}

.header__text {
  font-size: 1.8rem;
  margin: 0;
  color: rgba(255, 255, 255, 0.3);
}

.links {
  font-size: 1.4rem;
  justify-self: right;
  max-width: 30%;
  margin: 0 60px 0 auto;
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.links__gh {
  color: #777;
  &:hover {
    color: #aaa;
  }
}

.links__year {
  color: #aaa;
  margin: 0;
}

.links__school {
  transform: translateX(10%);
}

.links__img {
  width: 50px;
  height: 25px;
  background-image: url('../assets/img/rs_school_js.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
