.move {
  @extend %move;
}

.shake {
  @extend %shake;
}

.enter {
  @extend %enter;
}

.clean {
  @extend %clean;
}

.fancy::after {
  content: '';
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 44px);
  height: 68px;
  width: 74px;
  border-radius: 60px;
  border: solid 10px #009ff2;
  opacity: 0.4;
}

.field__view .hovered {
  color: rgba(255, 255, 255, 0.7);
}
.field__view .hovered span {
  color: rgb(23, 35, 206);
}

.table__surface .hovered {
  box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.4);
}

.table__surface plate .hovered {
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.3);
}
