.class-selector {
  color: green;
}

.id-selector {
  color: blue;
}

.attr-selector {
  color: red;
}

.tag-selector {
  color: black;
}

.class-selector,
.id-selector,
.attr-selector,
.tag-selector {
  word-wrap: break-word;
}
