plate {
  border-bottom: solid 5px #ddd;
  background: white;
  border-radius: 100px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
    height: 65px;
    width: 65px;
    border-radius: 60px;
    border-top: solid 6px #ccc;
    opacity: 0.4;
    background: rgba(255, 255, 255, 1);
  }
}

bento {
  background: brown;
  border: solid 3px #711c12;
  border-width: 20px 2px;
}

bento,
plate {
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 10px;
  position: relative;
}

plate bento {
  height: 74px;
  width: 74px;
  position: absolute;
  top: -8px;
  left: 4px;
}

orange,
apple,
pickle,
bento,
plate {
  transition: transform ease-out 0.2s;
}

apple {
  background: #e41919;
  border-color: #ab1212;
}

orange {
  background: orange;
  border-color: #bd6e07;
}

pickle {
  background: #179837;
  width: 25px;
  border-radius: 30px;
  border: solid 2px #025a18;
  border-width: 2px 2px 9px 2px;
  margin: 20px 10px;
}

orange,
apple {
  border-radius: 100px;
  border-style: solid;
  border-width: 2px 4px 15px 4px;
  height: 60px;
  width: 60px;
  position: relative;
  margin: 20px 10px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    height: 30%;
    width: 30%;
    top: 0px;
    left: calc(50% - 15%);
    border-radius: 100px;
  }
}

orange.small,
apple.small {
  height: 30px;
  width: 30px;
  border-width: 2px 4px 8px 4px;
  margin: 30px 10px;
}

pickle.small {
  height: 40px;
  width: 18px;
  border-width: 1px 2px 6px 2px;
  margin: 30px 10px;
}

orange,
apple,
pickle {
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin: 20px 10px;
  height: 60px;
  z-index: 5;
}

plate > apple:last-child,
plate > orange:last-child,
bento > apple:last-child,
bento > orange:last-child {
  top: calc(50% - 35px);
}

bento orange,
bento apple,
plate orange,
plate apple {
  left: calc(50% - 30px);
  margin: 0;
  position: absolute;
}

plate > pickle:only-child,
bento > pickle:only-child {
  top: calc(50% - 40px);
  left: calc(50% - 10px);
  z-index: 99999;
  margin: 0;
  position: absolute;
}

plate apple:last-child,
plate orange:last-child {
  z-index: 300;
}

plate > .small:only-child,
bento > .small:only-child {
  position: absolute;
  top: calc(50% - 15px);
  margin: 0;
}

plate .small,
bento .small {
  left: calc(50% - 15px);
  margin-left: 0;
  margin-right: 0;
}

plate bento apple,
plate bento orange {
  top: -36px !important;
}

plate apple:nth-last-child(2),
plate orange:nth-last-child(2) {
  top: -25px;
  z-index: 400;
}

plate apple:nth-last-child(3),
plate orange:nth-last-child(3) {
  top: -65px;
  z-index: 500;
}

//////////////////////////////////////////////////

dish {
  width: 100px;
  background-color: #f5f5f5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  &::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 50%;
  }

  &::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 60%;
    background-color: #f5f5f5;
    border-radius: 50%;
  }
}

#fancy {
  &::before {
    background-color: #009ff2;
  }
}

board {
  width: 150px;
  background-color: #8b4513;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 5px solid #fff;
}

board,
dish {
  height: 100px;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  position: relative;
}

board dish {
  position: absolute;
  top: -20px;
  left: 10px;
}

zucchini {
  width: 40px;
  height: 100px;
  background-color: #62c462;
  border-radius: 50% / 80% 50% 30% 30%;
  border: solid 2px #025a18;
  margin: 0 10px;
}

coconut {
  width: 60px;
  height: 60px;
  background-color: #8b4513;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px 10px;
  border: 2px solid rgb(114, 34, 34);
  border-width: 0px 2px 4px 2px;

  &::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
  }
}

peper {
  width: 60px;
  height: 80px;
  background-color: #c50808;
  border-radius: 50% / 10% 10% 50% 50%;
  margin: 10px 10px;
  border: 2px solid rgb(119, 2, 2);
  border-width: 2px 3px 6px 3px;
}

zucchini,
coconut,
peper {
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 5;
}

zucchini.small {
  width: 20px;
  height: 50px;
  margin: 20px 10px;
}

coconut.small {
  height: 30px;
}

peper.small {
  height: 40px;
}

peper.small,
coconut.small {
  width: 30px;
  margin: 30px 10px;
}

dish zucchini,
board zucchini,
dish coconut,
board coconut,
dish peper,
board peper {
  margin: 0;
  position: absolute;
}

board > zucchini:last-child {
  top: calc(50% - 65px);
}

dish > zucchini:last-child {
  top: calc(50% - 70px);
}

board zucchini,
dish zucchini {
  left: calc(50% - 20px);
}

dish > coconut:last-child,
board > coconut:last-child,
board > peper:last-child {
  top: calc(50% - 40px);
}

dish coconut,
board coconut,
dish peper,
board peper {
  left: calc(50% - 30px);
}

dish > peper:last-child {
  top: calc(50% - 50px);
}

dish coconut:last-child,
board coconut:last-child {
  z-index: 100;
}

dish > .small:only-child,
board > .small:only-child {
  position: absolute;
  top: calc(50% - 15px);
  margin: 0;
}

dish .small,
board .small {
  left: calc(50% - 15px);
  margin-left: 0;
  margin-right: 0;
}

dish > zucchini.small:only-child,
board > zucchini.small:only-child {
  top: calc(50% - 30px);
}

dish zucchini.small,
board zucchini.small {
  left: calc(50% - 10px);
}

dish coconut:nth-last-child(2),
board coconut:nth-last-child(2) {
  top: -25px;
  z-index: 400;
}

dish coconut:nth-last-child(3),
board coconut:nth-last-child(3) {
  top: -65px;
  z-index: 500;
}

dish coconut:nth-last-child(2).small,
board coconut:nth-last-child(2).small {
  top: -5px;
  z-index: 400;
}

dish coconut:nth-last-child(3).small,
board coconut:nth-last-child(3).small {
  top: -20px;
  z-index: 500;
}
