@font-face {
  font-family: 'Exo 2', sans-serif;
  src: url('../assets/fonts/Exo2-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Exo 2 bold', sans-serif;
  src: url('../assets/fonts/Exo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'menlo', monospace;
  src: url('../assets/fonts/Menlo-Regular.ttf');
}

%font-prim {
  font-family: 'Exo 2', sans-serif;
}

%font-prim-bold {
  font-family: 'Exo 2 bold', sans-serif;
}

%font-addit {
  font-family: 'menlo', monospace;
}

// animations

%move {
  transform-origin: bottom;
  animation: moveStart 0.5s ease-out, move 1s infinite;
  animation-delay: 0s, 0.5s;
}

@keyframes moveStart {
  0% {
    transform: skew(0deg, 0deg) scaleY(1);
    animation-timing-function: ease-in;
  }
  40% {
    transform: skew(0deg, 0deg) scaleY(0.9);
    animation-timing-function: ease-out;
  }
  100% {
    transform: skew(4deg, 0deg) scaleX(1);
  }
}

@keyframes move {
  0% {
    transform: skew(4deg, 0deg) scaleX(1);
  }
  10% {
    transform: skew(1deg, 0deg) scaleY(0.9);
  }
  50% {
    transform: skew(-4deg, 0deg) scaleX(1);
  }
  60% {
    transform: skew(-1deg, 0deg) scaleY(0.9);
  }

  100% {
    transform: skew(4deg, 0deg) scaleX(1);
  }
}

%input-impulse {
  animation: input-impulse 0.5s infinite;
}

@keyframes input-impulse {
  50% {
    background: none;
  }
}

%enter {
  animation: enter 0.1s 1;
}

@keyframes enter {
  50% {
    border-width: 1px 1px 2px 1px;
    top: 12px;
  }
}

%shake {
  animation: shake 0.1s 5;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
}
