@font-face {
  font-family: 'Exo 2', sans-serif;
  src: url('../assets/fonts/Exo2-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Exo 2 bold', sans-serif;
  src: url('../assets/fonts/Exo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'menlo', monospace;
  src: url('../assets/fonts/Menlo-Regular.ttf');
}

%font-prim {
  font-family: 'Exo 2', sans-serif;
}

%font-prim-bold {
  font-family: 'Exo 2 bold', sans-serif;
}

%font-addit {
  font-family: 'menlo', monospace;
}

// animations

%move {
  transform-origin: bottom;
  animation: move 1s infinite;
  animation-delay: 0s, 0.5s;
}

@keyframes move {
  0% {
    transform: skew(4deg, 0deg) scaleX(1);
  }
  10% {
    transform: skew(0deg, 0deg) scaleY(0.9);
  }

  40% {
    transform: skew(-4deg, 0deg) scaleX(1);
  }

  50% {
    transform: skew(0deg, 0deg) scaleX(1);
  }
  100% {
    transform: skew(4deg, 0deg) scaleX(1);
  }
}

%input-impulse {
  animation: input-impulse 1s infinite;
}

@keyframes input-impulse {
  50% {
    background: none;
  }
}

%enter {
  animation: enter 0.3s 1;
}

@keyframes enter {
  50% {
    transform: scale(0.7);
    box-shadow: 0px 0px 12px 4px rgb(117, 117, 104);
  }
}

%shake {
  animation: shake 0.1s 4;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
}

%remove {
  animation: remove 0.2s 1;
  transform: translateY(-600px);
}

@keyframes remove {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-600px);
  }
}
